doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
        meta(name='generator', content='Hugo 0.101.0')
        title Starter Template &middot; Bootstrap v4.6
        link(rel='canonical', href='https://getbootstrap.com/docs/4.6/examples/starter-template/')
        // Bootstrap core CSS
        link(href='/css/bootstrap.css', rel='stylesheet')
        style.
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        // Custom styles for this template
        link(href='/stylesheets/starter-template.css', rel='stylesheet')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li(class='nav-item ' + ( currPage == "home" ? "active" : ""))
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li(class='nav-item ' + ( currPage == "documents" ? "active" : ""))
                        a.nav-link(href='/documents') Documents
                    li.nav-item
                        a.nav-link.disabled Disabled
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false') Dropdown
                        .dropdown-menu
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
                    button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
        block content
        // /.container
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script.
            window.jQuery || document.write('<script src="/javascripts/vendor/jquery.slim.min.js"><\\/script>')
        script(src='/javascripts/bootstrap.bundle.js')