extends layout

block content
    main.container(role='main')
        .starter-template
            h1.mb-3= title
            if errors
                for error in errors
                    .alert.alert-warning.alert-dismissible.fade.show.col-4(role='alert')
                        | #{error.msg}
                        button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')

            form.col-3(method='POST' action='')

                div.form-group.mt-2
                    label(for='first_name') First Name:
                    input#first_name.form-control(type='text', placeholder='' name='first_name' required='true' value=(undefined === owner ? '' : owner.first_name) )

                div.form-group.mt-2
                    label(for='last_name') Last Name:
                    input#last_name.form-control(type='text', placeholder='' name='last_name' required='true' value=(undefined === owner ? '' : owner.last_name) )

                div.form-group.mt-2
                    label(for='email') Email:
                    input#email.form-control(type='email', placeholder='' name='email' value=(undefined === owner ? '' : owner.email) )

                div.form-group.mt-2
                    label(for='phone') Phone Numer:
                    input#phone.form-control(type='tel', placeholder='' name='phone'  value=(undefined === owner ? '' : owner.phone) )

                button.btn.btn-primary.mt-3(type='submit') Submit